<div class="container">
  <div class="row justify-content-md-left">

    <div class="input-group mb-3 col col-lg-12">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
      </div>
      <input #inp type="text" class="form-control" [value]="url" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="updateUrl(inp)" type="button">stream</button>
      </div>
    </div>
  </div>
  <p *ngFor="let task of tasks">
      <ngb-alert [type]="task['success'] ? 'info' : 'danger'" (close)="closeTask(task)">
        <div class="container">
          <div class="row">
            <div class="col col-lg-6">
              <strong>{{ 'ehrId' | translate }}:</strong> {{ task['ehrId'] }}
            </div>
            <div class="col col-lg-6">
              <strong>{{ 'mWorkPlanId' | translate }}:</strong> {{ task['mWorkPlanId'] }}
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-6">
              <strong>{{ 'description' | translate }}:</strong> {{ task['description'] }}
            </div>
            <div class="col col-lg-6">
              <strong>{{ 'time' | translate }}:</strong> {{ task['time'] }}
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-6">
              <strong>{{ 'lifecycleState' | translate }}:</strong> {{ task['lifecycleState'] }}
            </div>
            <div class="col col-lg-6">
              <strong>{{ 'success' | translate }}:</strong> {{ task['success'] }}
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-12">
              <strong>{{ 'materialisedEntityDto' | translate }}:</strong>
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-6">
              <strong>{{ 'entityId' | translate }}:</strong> {{ task['materialisedEntityDto']['entityId'] }}
            </div>
            <div class="col col-lg-6">
              <strong>{{ 'definitionId' | translate }}:</strong> {{ task['materialisedEntityDto']['definitionId'] }}
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-6">
              <strong>{{ 'description' | translate }}:</strong> {{ task['materialisedEntityDto']['description'] }}
            </div>
            <div class="col col-lg-6">
              <strong>{{ 'lifecycleState' | translate }}:</strong> {{ task['materialisedEntityDto']['lifecycleState'] }}
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-6">
              <strong>{{ 'ownerId' | translate }}:</strong> {{ task['materialisedEntityDto']['ownerId'] }}
            </div>
            <div class="col col-lg-6">
            </div>
          </div>
          <ng-container *ngIf="task['materialisedEntityDto']['action']">
          <div class="row">
            <div class="col col-lg-12">
              <strong>{{ 'action' | translate }}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-6">
              <strong>{{ 'type' | translate }}:</strong> {{ task['materialisedEntityDto']['type'] }}
            </div>
            <div class="col col-lg-6">
              <strong>{{ 'entityId' | translate }}:</strong> {{ task['materialisedEntityDto']['entityId'] }}
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-6">
              <strong>{{ 'description' | translate }}:</strong> {{ task['materialisedEntityDto']['description'] }}
            </div>
            <div class="col col-lg-6">

            </div>
          </div>

          </ng-container>
        </div>
      </ngb-alert>
  </p>
</div>
