<div class="container">
  <div class="row justify-content-md-left">

    <div class="input-group mb-3 col col-lg-12">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
      </div>
      <input #inp type="text" class="form-control" [value]="url" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="updateUrl(inp)" type="button">stream</button>
      </div>
    </div>
  </div>
</div>

<p *ngFor="let task of tasks">
  <ng-container *ngIf="task['mtaskId']">
    <ngb-alert [type]="'info'" (close)="closeTask(task)">
      <div class="container">
        <div class="row">
          <div class="col col-lg-6">
            <strong>{{ 'entityVersion' | translate }}:</strong> {{ task['entityVersion'] }}
          </div>
          <div class="col col-lg-6">
            <strong>{{ 'entityId' | translate }}:</strong> {{ task['entityId'] }}
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-6">
            <strong>{{ 'ehrHash' | translate }}:</strong> {{ task['ehrHash'] }}
          </div>
          <div class="col col-lg-6">
            <strong>{{ 'time' | translate }}:</strong> {{ task['time'] }}
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-6">
            <strong>{{ 'description' | translate }}:</strong> {{ task['description'] }}
          </div>
          <div class="col col-lg-6">
            <strong>{{ 'entityOrder' | translate }}:</strong> {{ task['entityOrder'] }}
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-6">
            <strong>{{ 'mTaskId' | translate }}:</strong> {{ task['mTaskId'] }}
          </div>
          <div class="col col-lg-6">
            <strong>{{ 'lifecycleState' | translate }}:</strong> {{ task['lifecycleState'] }}
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-6">
            <strong>{{ 'preconditionsSatisfied' | translate }}:</strong> {{ task['preconditionsSatisfied'] }}
          </div>
          <div class="col col-lg-6">
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-6">
            <strong>{{ 'id' | translate }} {{ 'ehrHash' | translate }}:</strong> {{ task['ehrHash'] }}
          </div>
          <div class="col col-lg-6">
            <strong>{{ 'id' | translate }} {{ 'entityId' | translate }}:</strong> {{ task['entityId'] }}
          </div>
        </div>
      </div>
    </ngb-alert>
  </ng-container>
  <ng-container *ngIf="task['mTaskPlanId']">
    <ngb-alert [type]="'primary'" (close)="closeTask(task)">
      <div class="container">
        <div class="row">
          <div class="col col-lg-6">
            <strong>{{ 'entityVersion' | translate }}:</strong> {{ task['entityVersion'] }}
          </div>
          <div class="col col-lg-6">
            <strong>{{ 'entityId' | translate }}:</strong> {{ task['entityId'] }}
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-6">
            <strong>{{ 'ehrHash' | translate }}:</strong> {{ task['ehrHash'] }}
          </div>
          <div class="col col-lg-6">
            <strong>{{ 'time' | translate }}:</strong> {{ task['time'] }}
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-6">
            <strong>{{ 'description' | translate }}:</strong> {{ task['description'] }}
          </div>
          <div class="col col-lg-6">
            <strong>{{ 'entityOrder' | translate }}:</strong> {{ task['entityOrder'] }}
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-6">
            <strong>{{ 'mTaskPlanId' | translate }}:</strong> {{ task['mTaskPlanId'] }}
          </div>
          <div class="col col-lg-6">
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-6">
            <strong>{{ 'id' | translate }} {{ 'ehrHash' | translate }}:</strong> {{ task['ehrHash'] }}
          </div>
          <div class="col col-lg-6">
            <strong>{{ 'id' | translate }} {{ 'entityId' | translate }}:</strong> {{ task['entityId'] }}
          </div>
        </div>
      </div>
    </ngb-alert>
  </ng-container>

</p>
